@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    text-align: center; 
    
}
.footer {
    height: 150;
    background: #4D41C0;
}

.footer p {
    text-align: center;
    color: white;
    margin: 0 0 0 0;
}

.footer a {
    color: white;
    margin: 0 0 0 8px;
}

footer {
    font-weight: lighter;
    text-align: center; 
    color: white;
    display: inline;
    margin: 0 0 0 0;
}

.footer div {
    text-align: center;
    display: inline-block;
}

